{% extends "admin_layout.html" %}
{% block title %}Channels{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}

    <div class="section">
      <h2>Channels</h2>
      <button class="dash_button">Add New</button>
      <table id="channels_table" class="display">
        <thead>
          <tr>
            <th>Channel</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody>
          {% for channel in channels %}
          <tr>
            <td>{{ channel.name }}</td>
            <td>{{ channel.category }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

{% endblock %}
