{% extends "admin_layout.html" %}
{% block title %}User{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="section">
      <h2>Company Name</h2>
      <div class="user_information">
        <form>
          <fieldset>
            <label>Email:</label>
            <span>pub@pub.net</span>
            <div class="edit">
              <input></input>
              <button>save</button>
            </div>
          </fieldset>
          <fieldset>
            <label>First Name:</label>
            <span>pub@pub.net</span>
          <div class="edit">
            <input></input>
            <button>save</button>
          </div>
          </fieldset>
          <fieldset>
            <label>Last Name:</label>
            <span>pub@pub.net</span>
            <div class="edit">
              <input></input>
              <button>save</button>
            </div>
          </fieldset>
          <fieldset>
            <label>Phone:</label>
            <span>pub@pub.net</span>
            <div class="edit">
              <input></input>
              <button>save</button>
            </div>
          </fieldset>
          <fieldset>
            <label>Confirmed:</label>
            <span>Yes</span>
            <div class="edit">
              <select>
                <option value="TRUE">Yes</option>
                <option value="FALSE">No</option>
              </select>
              <button>save</button>
            </div>
          </fieldset>
          <fieldset>
            <label>Ads</label>
            <span>No</span>
            <div class="edit">
              <select>
                <option value="TRUE">Yes</option>
                <option value="FALSE">No</option>
              </select>
              <button>save</button>
            </div>
          </fieldset>
          <fieldset>
            <label>Ad ID</label>
            <span>2223</span>
            <div class="edit">
              <input></input>
              <button>save</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
{% endblock %}
