<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
<html>

{% block head %}
    <!-- jQuery -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}
    <style type="text/css">
        .navbar-brand > img {
            max-width: 50px;
            max-height: 50px;
        }

        .navbar-nav {
            margin-right: auto;
            margin-left: 2%;
        }
        #main {
            margin-top: 100px;
            width: 100%;
        }
        div.container:nth-child(1) {
            min-width:100%;
        }
    </style>
    {% endblock %}
{% endblock %}

{% block body %}
    {% block navbar %}
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="/static/option8.png" alt="">
                </a>
                <ul class="navbar-nav">
                    <!-- Home -->
                    <li class="nav-item active">
                        <a class="nav-link" href="/loops">Loops</a>
                    </li>
                    <!-- Logout -->
                    <li class="nav-item active">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                </ul>
            </div>
        </nav>
    {% endblock %}
    {% block content %}

    {% endblock %}
{% endblock %}
</html>