<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/styles/style.css">
  <link rel="stylesheet" type="text/css" href="static/styles/signup.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  <link href="static/styles/hamburger.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="static/styles/scripts.js"></script>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
  <div class="site_container">
    <nav>
      <div class="nav_container">
        <a href="/">
          <div class="site_logo">
            <img class="logo" src="static/images/barscreenlogo.png">
            <div class="logo_title">
              <span>BarScreen</span>
            </div>
          </div>
        </a>
        <button class="hamburger hamburger--minus" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
        <div class="nav_menu">
          <ul>
            <li><a>Features</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login">Log In</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="splash_signup" id="signup">
    </div>
    <div class="section_splash">
      <div class="title">
        <h3>Sign Up</h3>
      </div>
    </div>
    <div class="section">
      <form>
        <div class="form_container">
          <feildset class="form_fname">
            <label for="fname">First Name:</label>
            <input type="text" id="fname" required="required" class="form_input" style>
          </feildset>
          <feildset class="form_lname">
            <label for="lname">Last Name:</label>
            <input type="text" id="lname" required="required" class="form_input" style>
          </feildset>
          <feildset class="form_email">
            <label for="email">Email:</label>
            <input type="text" id="email" required="required" class="form_input" style>
          </feildset>
          <feildset class="form_phone">
            <label for="phone">Phone:</label>
            <input type="text" id="phone" required="required" class="form_input" style>
          </feildset>
          <feildset class="form_company">
            <label for="company">Company:</label>
            <input type="text" id="phone" required="required" class="form_input" style>
          </feildset>
          <feildset class="submit">
              <button>Submit</button>
          </feildset>
        </div>
      </form>
    </div>
    <div class="footer">
      <div class="section">
        <h4><i class="fa fa-copyright"></i> BarScreen 2019</h4>
      </div>
    </div>
  </div>
</body>
</html>
