{% extends "dashboard_layout.html" %}
{% block title %}BarsScreen Dashboard - Account{% endblock %}
{% block h3title %}Account{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="account_container">
    <div class="account_info">
      <h2>Company Name</h2>
      <p>Email: <span>pub@pub.net</span></p>
      <p>First Name: <span>Jerry</span></p>
      <p>Last Name: <span>Lewis</span></p>
      <p>Phone: <span>7782223333</span></p>
      <button class="dash_button">Change Password</button>
    </div>
  </div>
{% endblock %}
