{% extends "dashboard_layout.html" %}
{% block title %}BarsScreen Dashboard - Create Loop{% endblock %}
{% block h3title %}Create Loop{% endblock %}
{% block head %}
  {{ super() }}
  <script src="{{ url_for('static', filename='scripts/loopCreate_pagination.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
  <div class="creation_dashboard">
    <div class="playlist_col">
      <div class="playlist_title">
        <h3>Week Days <i class="fas fa-pen"></i></h3>
        <span class="length">14:30</span><span>&#183;</span><span class="age">1 week ago</span>
        <button class="dash_button">Save</button>
      </div>
      <div class="playlist_list">
        <ul>
          <li class="playlist_item">
            <div class="playlist_image">
              <img src="static/images/vice.jpeg" />
            </div>
            <div class="playlist_desc">
              <h4>Daily News Update</h4>
              <h5>Vice News</h5>
            </div>
          </li>
          <li class="playlist_item">
            <div class="playlist_image">
              <img src="static/images/menu.png" />
            </div>
            <div class="playlist_desc">
              <h4>Fall Menu</h4>
              <h5>Promo Segment</h5>
            </div>
          </li>
          <li class="playlist_item">
            <div class="playlist_image">
              <img src="static/images/redbull.png" />
            </div>
            <div class="playlist_desc">
              <h4>Quick Break</h4>
              <h5>Redbull TV</h5>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="content_col">
      <div class="content_row">
          <div class="row_title">
            <h3>Custom Promos</h3>
            <button class="dash_button">Add New</button>
          </div>
          <div class="content_display">
            <div class="contentList_container">
              <ul>
                {% for promo in current_user.promos %}
                <li class="content_item">
                  <div class="content_img">
                    <img src="{{ promo.image_url }}">
                  </div>
                  <div class="content_title">
                    <span>{{ promo.name }}</span>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="content_more">
              <div class="content_arrow">
                <i class="fas fa-angle-right"></i>
              </div>
            </div>
            <div class="pagination createPagination"></div>
          </div>
      </div>
      <div class="content_row">
        <h3>Content Library</h3>
      </div>
      <div class="content_row">
        <div class="row_title">
          <h4>Trending</h4>
        </div>
        <div class="content_display">
          <div class="contentList_container">
            <ul>
              {% for trend in trends %}
              <li class="content_item">
                <div class="content_img">
                  <img src="{{ trend.image_url }}">
                </div>
                <div class="content_title">
                  <span>{{ trend.name }}</span>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="content_more">
            <div class="content_arrow">
              <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="pagination createPagination"></div>
        </div>
      </div>
      <div class="channel">
        <div class="channel_container">
          <div class="channel_information">
            <h3>Redbull TV</h3>
            <p>Go beyond the ordinary with exclusive videos & live events from around the world.</p>
            <p>Last upload: <span>yesterday</span></p>
            <button class=dash_button>Explore Channel</button>
          </div>
          <div class="channel_shows">
            <h3>Shows</h3>
            <ul>
              <li>Quick Break <button class="dash_button">Add</button>
                <div class="show_info">
                  <div class="show_desc">
                    <p>Quick clips showing the best highlights from extreme sports and live events.</p>
                    <p>Number of clips: <span>14</p>
                    <p>Last upload: <span>yesterday</p>
                  </div>
                  <div class="show_clip">
                    <div class="clip_container">
                      <img src="static/images/surf.jpeg">
                      <i class="fas fa-play" id="play"></i>
                      <p id="clip_length">2:34</p>
                    </div>
                  </div>
                </div>
              </li>
              <li>Winter <button class="dash_button">Add</button></li>
              <li>Climbing <button class="dash_button">Add</button></li>
              <li>Music <button class="dash_button">Add</button></li>
              <li>MotoGP <button class="dash_button">Add</button></li>
            </ul>
        </div>
      </div>
      </div>
      <div class="content_row">
        <div class="row_title">
          <h4>News</h4>
        </div>
        <div class="content_display">
          <div class="contentList_container">
            <ul>
              {% for new in news %}
              <li class="content_item">
                <div class="content_img">
                  <img src="{{ new.image_url }}">
                </div>
                <div class="content_title">
                  <span>{{ new.name }}</span>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="content_more">
            <div class="content_arrow">
              <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="pagination createPagination"></div>
        </div>
      </div>
      <div class="content_row">
        <div class="row_title">
          <h4>Sports</h4>
        </div>
        <div class="content_display">
          <div class="contentList_container">
            <ul>
              {% for sport in sports %}
              <li class="content_item">
                <div class="content_img">
                  <img src="{{ sport.image_url }}">
                </div>
                <div class="content_title">
                  <span>{{ sport.name }}</span>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="content_more">
            <div class="content_arrow">
              <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="pagination createPagination"></div>
        </div>
      </div>
      <div class="content_row">
        <div class="row_title">
          <h4>Entertainment</h4>
        </div>
        <div class="content_display">
          <div class="contentList_container">
            <ul>
              {% for entertainment in entertainments %}
              <li class="content_item">
                <div class="content_img">
                  <img src="{{ entertainment.image_url }}">
                </div>
                <div class="content_title">
                  <span>{{ entertainment.name }}</span>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="content_more">
            <div class="content_arrow">
              <i class="fas fa-angle-right"></i>
            </div>
          </div>
          <div class="pagination createPagination"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
