{% extends "dashboard_layout.html" %}
{% block title %}BarsScreen Dashboard - Loops{% endblock %}
{% block h3title %}Loops{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="createnew_wrapper">
    <div class="createnew">
      <a href="{{ url_for('dashboard.create') }}"><button class="dash_button"><i class="fas fa-plus-circle"></i> Add New</button></a>
    </div>
  </div>
  <div class="loops_wrapper">
    <div class="loops_container">
      <ul>
        <li>
          <div class="loop_image">
            <img src="static/images/vice.jpeg">
          </div>
          <div class="loop_title">
            <h3>Week Days</h3>
            <p>23:00</p>
          </div>
        </li>
        <li>
          <div class="loop_image">
            <img src="static/images/vice.jpeg">
          </div>
          <div class="loop_title">
            <h3>Week Days</h3>
            <p>23:00</p>
          </div>
        </li>
        <li>
          <div class="loop_image">
            <img src="static/images/vice.jpeg">
          </div>
          <div class="loop_title">
            <h3>Week Days</h3>
            <p>23:00</p>
          </div>
        </li>
        <li>
          <div class="loop_image">
            <img src="static/images/vice.jpeg">
          </div>
          <div class="loop_title">
            <h3>Week Days</h3>
            <p>23:00</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="pagination">
      <a href="#">&laquo;</a>
      <a href="#">1</a>
      <a href="#" class="active">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">&raquo;</a>
    </div>
  </div>
{% endblock %}
