<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/styles/dashboard.css">
  <link href="static/styles/hamburger.css" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="static/scripts/header.js"></script>
  <script src="static/scripts/dashchart.js"></script>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
  <nav>
    <div class="nav_container">
      <div class="site_logo">
        <img class="logo" src="static/images/barscreenlogo.png">
      </div>
      <button class="hamburger hamburger--minus" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <div class="nav_menu">
        <ul>
          <li><a>Dashboard</a></li>
          <li><a>Loops</a></li>
          <li><a>Account</a></li>
        </ul>
      </div>
      <div class="account_icon">
        <a><i class="fas fa-user"></i></a>
      </div>
    </div>
  </nav>
  <div class="title_container">
    <h3 class="title">Loops</h3>
  </div>
  <div class="createnew_wrapper">
    <div class="createnew">
      <button class="dash_button"><i class="fas fa-plus-circle"></i> Add New</button>
    </div>
  </div>
  <div class="loops_wrapper">
    <div class="loops_container">
      <ul>
        <li>
          <div class="loop_image">
            <img src="static/images/vice.jpeg">
          </div>
          <div class="loop_title">
            <h3>Week Days</h3>
            <p>23:00</p>
          </div>
        </li>
        <li>
          <div class="loop_image">
            <img src="static/images/vice.jpeg">
          </div>
          <div class="loop_title">
            <h3>Week Days</h3>
            <p>23:00</p>
          </div>
        </li>
        <li>
          <div class="loop_image">
            <img src="static/images/vice.jpeg">
          </div>
          <div class="loop_title">
            <h3>Week Days</h3>
            <p>23:00</p>
          </div>
        </li>
        <li>
          <div class="loop_image">
            <img src="static/images/vice.jpeg">
          </div>
          <div class="loop_title">
            <h3>Week Days</h3>
            <p>23:00</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="pagination">
      <a href="#">&laquo;</a>
      <a href="#">1</a>
      <a href="#" class="active">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">&raquo;</a>
    </div>
  </div>
</body>
</html>
